.container {
  max-width: $max-width;
  min-width: $mobile;
  
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;

  @media screen and (min-width: $mobile) and (max-width: $max-width) {
    padding: 0 15px;
    
  }
  @media screen and (min-width: $mobile) and (max-width: $mobile-end) {
    flex-direction: column;
    gap: 30px;
    margin: 30px 0 30px;
  }
}

